*{margin: 0;padding: 0}

body {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 1px;
}


/*phần thanh about*/
h2.font-about {
    font-size: 40px;
    line-height: 1.3;
    margin-bottom: 40px;
    font-weight: 400;
    margin-top: 385px;
    margin-right: 61px;

}
.blog-content .subtitle-divider{
    position: relative;
    height: 30px;
}

.subtitle-divider::before, .subtitle-divider::after {
    background: #000 none repeat scroll 0 0;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 15px;
    width: 310px;
    right: 0;
    margin: 0 auto;
}

.subtitle-divider::after {
    background: #00cbd9 none repeat scroll 0 0;
    top: 14px;
    width: 110px;
    height: 4px;
}

.inform-about {
    color: #666;
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 5px;
    font-weight: 400;
}

/*end phần thanh about*/

/*start section about-centent*/


h3.entry-title.mt-10.mb-10 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
}


span.title-nail {
    color: red;
}

p.title-inform {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #666;
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 5px;
    font-weight: 400;
}

.entry-header .post {
    margin-bottom: 60px;
}

.button-blog-main {
    color: #fff;
    background: #0d6efd;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    border: 1px solid #0d6efd;
    position: relative;
}

.form-button {
    line-height: 38px;
    height: 38px;
    margin-left: 1px;
    text-align: center;
    margin-right: auto;
    margin-top: 20px;
    width: 17%;
    cursor: pointer;
    color: white;
}

.button-blog-main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    background-color: rgba(1, 203, 217, 0.95) ;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transform: scale(0.5, 1);
    transform: scale(0.5, 1);
}
.button-blog-main:hover::before{
    opacity: 1;
    -webkit-transform: scale(1, 1);
    z-index:1;
    transform: scale(1, 1);
    color: white;
}

.button-blog-main span {
    z-index: 2;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
}