form{
    width: 500px;
    height: 350px;
    background: white;
    padding: 20px;
    font-size: 30px;
    color: white;
    margin: 0 30px 30px 30px;
}

h2{
    margin-left: 60px;
}
#floatingTextarea2{
    width: 400px;
    margin: 10px;
}
.contact{
    margin-left: 250px;
}
.map{
    text-align: center;
    width: 100%;
    height: 500px;
    background-color:#ada8ab1f;
}
.Workplace{
    text-align: center;
    font-size: 50px;
    padding-bottom: 50px;

}
